Backup/PLY Loader/PLY Point Cloud/.idea/PLY Point Cloud.iml
Backup/PLY Loader/PLY Point Cloud/.idea/encodings.xml
Backup/PLY Loader/PLY Point Cloud/.idea/misc.xml
Backup/PLY Loader/PLY Point Cloud/.idea/modules.xml
Backup/PLY Loader/PLY Point Cloud/.idea/workspace.xml
Backup/PLY Loader/PLY Point Cloud/Detector.js
Backup/PLY Loader/PLY Point Cloud/PLYLoader.js
Backup/PLY Loader/PLY Point Cloud/Spool_oc.ply
Backup/PLY Loader/PLY Point Cloud/Spool_oc_ascii.ply
Backup/PLY Loader/PLY Point Cloud/pond.0.ply
Backup/PLY Loader/PLY Point Cloud/pond_ascii.ply
Backup/PLY Loader/PLY Point Cloud/stats.min.js
Backup/PLY Loader/PLY Point Cloud/three.js
Backup/PLY Loader/PLY Point Cloud/vienna.ply
Backup/PLY Loader/PLY Point Cloud/webgl_loader_ply.html
Backup/PLY Loader/PLY Point Cloud/.idea/.name
Backup/PLY Loader.7z
PLY-plc/PLY-plc.VC.db
PLY-plc/PLY-plc/pond_ascii.ply
PLY-plc/PLY-plc/Spool_oc_ascii.ply
